* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    background-color: white;
}

#root {
    position: relative;
    overflow: hidden;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    /* Firefox */
}

textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    font-family: "Poppins";
    /* Firefox */
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
}

input[type="submit"],
button[type="submit"] {
    font-size: inherit;
    font-weight: inherit;
}