* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins";
    background-color: white;
}
#root{
    position: relative;
    overflow: hidden;
}
