footer{
    background-color: #54605f;
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    color: white;
}

.footContent h1{
font-family: 'Sacramento',cursive;
font-size: 3.1rem;
cursor: pointer;
font-weight: 300;
}
.footContent .mailWrap{
    margin-top: 14px;
    display: flex;
    align-items: center;
}
.footContent .mailWrap img{
    margin-right: 10px;
}
.footContent .mailWrap i{
    opacity: 0.8;
    margin-right: 10px;

}
.footContent .mailWrap a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
.mailWrap a:hover{
    text-decoration: underline;
}
footer .listWrap{
    display: flex;
}
footer .listWrap ul{
    list-style: none;
    margin-right: 70px;
}
.listWrap li{
    padding: 10px 0;
    cursor: pointer;
}
.listWrap li:hover{
    text-decoration: underline;
}
.listWrap ul:nth-child(2){
    margin-right: 0;
}

.footContent h3{
    font-weight: 400;
    font-size: 23px;
}
.footContent .emailWrap{
    margin-top: 18px;
    background-color: white;
    display: flex;
    width: 400px;
    border-radius: 8px;
    padding-left: 14px;
    align-items: center;
    overflow: hidden;
}
.footContent .address{
    opacity: 0.8;
    align-items: flex-start;
}
.footContent .address i{
    margin-top: 4px;
}
.footContent input{
    padding: 12px;
    font-family: 'Poppins';
    width: 100%;
    outline: none;
    border: none;
}
.footContent button{
    margin-top: 30px;
    background-color: white;
    width: fit-content;
    font-family: 'Poppins';
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    margin-bottom: auto;
}
.footContent{
    display: flex;
    flex-direction: column;
}
.footContent .bottom{
    align-items: center;
    margin-top: auto;
    justify-content: flex-end;
    display: flex;
}


.footContent a,.listWrap a{
    text-decoration: none;
    color: white;
}

.footContent .socialWrap{
    color: white;
    display: flex;
    margin: 5px 0;
    margin-bottom: 0;
    opacity: 0.8;
    font-size: 1.4em;
}
.footContent .socialWrap a{
    margin-right: 20px;
}

.hide{
    visibility: hidden;
    display: none;    
}
.show{
    visibility: visible;
    display: flex;
}