.container h1 {
    font-family: "Sacramento";
    font-size: 2.3rem;
    font-weight: 300;
}

.container h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #54605f;
    margin-top: 7px;
}

.container p {
    font-size: 1rem;
    width: 30%;
    margin-top: 24px;
}

.homeSec1.hidden {
    visibility: hidden;
    display: none;
}

.container a {
    text-decoration: none;
    color: white;
    background-color: #54605f;
    padding: 10px 23px;
    border-radius: 10px;
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.dot {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url("../images/Square leaf.png");
    background-size: 100% 100%;
}

.dot1 {
    width: 25px;
    height: 25px;
    position: absolute;
    background: url("../images/Square leaf.png");
    background-size: 100% 100%;
}

.fl1 {
    width: 120px;
    height: 120px;
    position: absolute;
    background: url("../images/fl1.png");
    background-size: 100% 100%;
}

.fl2 {
    width: 160px;
    height: 160px;
    position: absolute;
    background: url("../images/fl0.png");
    background-size: 100% 100%;
}

.gift {
    width: 100px;
    height: 100px;
    position: absolute;
    background: url("../images/gift.png");
    background-size: 100% 100%;
}

.fl3 {
    width: 90px;
    height: 90px;
    position: absolute;
    background: url("../images/fl0.png");
    background-size: 100% 100%;
}

.fl4 {
    width: 70px;
    height: 70px;
    position: absolute;
    background: url("../images/fl1.png");
    background-size: 100% 100%;
}

.container {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #fffbfb;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: unset;
}

.main {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 0 100px;
    justify-content: left;
}

nav {
    background-color: #fffbfb;
}

.main h1 {
    font-size: 3.1em;
    font-weight: 300;
    color: black;
    font-family: "Sacramento", cursive;
}

.main h2 {
    font-weight: 500;
    color: #54605f;
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 19px;
}

.hero {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hero p {
    width: 524px;
    font-size: 1.16em;
}

.homeSec1 {
    padding: 50px 100px;
    background-color: #fff;
}

.homeSec1 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    flex-wrap: wrap;
    gap: 5px;
}

.homeSec1 .title a {
    color: black;
}

.homeSec1 .title p {
    font-weight: 500;
}

.popProducts {
    display: grid;
    padding: 30px 0;
    column-gap: 6vw;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.productCard:hover {
    transform: scale(1.02);
}

.productCard {
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;

    flex-direction: column;
}

.productCard p.prodName {
    margin-top: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    min-width: -moz-fit-content;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}



.prodImg {
    background-image: url("../images/product-placeholder.png");
    background-size: contain;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 20vw;
}

.productCard p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.promo {
    display: grid;
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
}

.promoImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-image: url("../images/promo-placeholder.png");
    background-repeat: no-repeat;
}

.promoContent {
    display: flex;
    align-items: center;
    padding: 250px 100px;
    flex-direction: column;
    background-color: #FFFBFB;
}

.promoContent h2 {
    font-weight: 600;
    color: #54605f;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 19px;
}

.col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.corporate .promoContent {
    background-color: #fffbfb;
}


.shop-btn {
    background-color: #54605f;
    padding: 10.5px 40px;
    border-radius: 8px;
    margin-top: 30px;
    border: 1.5px #54605f solid;
    transition: all 0.2s ease;
    cursor: pointer;
    color: white;
    z-index: 999;
}

.shop-btn:hover {
    background-color: transparent;
    color: #54605f;
    border: 1.5px #54605f solid;
}

.addToCart {
    display: flex;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    padding: 10px 0;
    margin-top: 15px;
    color: #54605f;
    border: 1.5px #54605f solid;
    transition: all 0.2s ease;
    align-items: center;
    border-radius: 7px;
    font-size: 0.9em;
    justify-content: center;
}

.addToCart i {
    color: #54605f;

    transition: all 0.2s ease;
}

.addToCart.added {

    background-color: white;
    color: #54605f;
}

.addToCart.added:hover {
    background-color: #54605f;
    color: white;
}

.addToCart.added:hover i {
    color: white;
}

.addToCart:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(200%) contrast(105%);
}

.addToCart:hover {
    background-color: #54605f;
    color: white;
}

.addToCart img {
    width: 20px;
    transition: all 0.3s ease;
    filter: none;
}

.shopBtn {
    background-color: #54605f;
    padding: 10.5px 40px;
    border-radius: 8px;
    margin-top: 33px;
    white-space: nowrap;
    border: 1.5px #54605f solid;
    transition: all 0.2s ease;
    cursor: pointer;
    color: white;
    z-index: 9;
}


.shopBtn:hover {
    background-color: transparent;
    color: #54605f;
    border: 1.5px #54605f solid;
}


.addToCart:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(200%) contrast(105%);
}

.addToCart:hover {
    background-color: #54605f;
    color: white;
}

.addToCart img {
    width: 20px;
    transition: all 0.3s ease;
    filter: none;
}

.pViewAdd {
    width: 50%;
    padding: 10px 0;
    background-color: #54605f;
    color: white;
    align-self: flex-end;
    height: fit-content;
}

.addToCart.pViewAdd i {
    color: white;
}

.addToCart.pViewAdd img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(200%) contrast(105%);

}

.pViewAdd:hover {
    background-color: white;
    color: #54605f;
}

.addToCart.pViewAdd:hover img {
    filter: none;
}

.addToCart.pViewAdd.added {
    background-color: #54605f;
    color: white;
}

.addToCart.pViewAdd.added:hover {
    background-color: white;
    color: #54605f;
}

.addToCart.pViewAdd.added:hover i {
    color: #54605f;
}

.prodName,
.prodPrice {
    display: flex;
    flex-direction: column;
    transition: color 0.2s ease;
    width: fit-content;

}

.prodName {
    font-weight: 500;
}

.prodPrice {
    font-size: 1em;
}

.prodPrice::after {
    content: "";
    height: 1px;
    width: 0%;
    transition: width 0.15s ease;
    background-color: black;
}

.prodName::after {
    content: "";
    height: 1.5px;
    width: 0%;
    /* transition: width 0.15s ease; */
    background-color: black;
}

.productCard:hover .prodName {
    color: #54605F;
}

.productCard:hover .prodPrice {
    color: #54605F;
}


.productCard.shimmer:hover .prodName::after,
.productCard.shimmer:hover .prodPrice::after {
    width: 0%;
}

.productCard.shimmer .prodImg {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

.productCard.shimmer .prodName {
    border-radius: 5px;
    width: 70%;
    height: 30px;
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

.productCard.shimmer .prodPrice {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
    border-radius: 5px;
    width: 40%;
    height: 20px;
}

.productCard.shimmer .shimmerAdd {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    height: 50px;
}

.animate {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@media (min-width: 1650px) {
    .popProducts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.userTestimonial {
    background-color: #54605F;
    border-radius: 40px;
    font-style: normal;
    line-height: 26px;
    padding: 60px 100px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.userTestimonial .userWrap {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.userTestimonial .imgWrap {
    min-width: 50px;
    background-color: #e2e2e2;
    border-radius: 50%;
    min-height: 50px;
    margin-right: 20px;
}

.productCard .prodDetWrap {
    display: flex;
    flex-direction: column;
    max-height: 163px;
    flex: 1;
}

.productCard .spacer {
    flex: 1;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

@media (max-width:1160px) {
    .userTestimonial {
        padding: 53px 70px;
    }
}

@media (max-width:1090px) {

    .main,
    .homeSec1 {
        padding-inline: 60px;
    }
}

@media (max-width:990px) {
    p.prodName {
        font-size: 0.9em;
    }
    .popProducts{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width:974px) {
    .main {
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        padding-top: 150px;
        padding-inline: 10px;
        /* height: fit-content; */
    }

    .main .hero {
        text-align: center;
        align-items: center;
    }

    .main .hero h1 {
        font-size: 2.9em;
    }

    .main .hero h2 {

        font-size: 2.9em;
    }

    .main .hero p {
        font-size: 1em;
        width: 85%;
        max-width: 70%;
    }

    .homeSec1 {
        padding: 40px 30px;
    }

    .promo {
        display: flex;
        flex-direction: column;
    }


    .promo .promoImg {
        height: 65vw;
    }

    .promo .promoContent {
        text-align: center;
        padding: 80px 18px;
        justify-content: center;
        align-items: center;
    }

    .promoContent .col {
        justify-content: center;
        align-items: center;
    }

    .promoContent .col p {
        max-width: 72%;
    }

    .userTestimonial {
        padding: 45px 45px;
    }

}

@media (max-width:800px) {
    .popProducts {
        grid-template-columns: 1fr 1fr;

    }


    .productCard {
        width: 100%;
    }

    .prodImg {
        height: 31.5vw;
    }
}

@media (max-width:766px) {
    .main .hero p {

        max-width: 80%;
    }

    .promoContent .col p {
        max-width: 99%;
    }
}

@media (max-width:531px) {
    .productCard {
        width: 80%;
    }

    .popProducts{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 35px;
    }

    .prodImg {
        height: 52vw;
    }

    .pViewAdd{
        align-self: auto;
        width: 100%;
    }
}

@media (max-width:576px) {
    .main {
        padding-top: 100px;
        padding-inline: 10px;
        height: fit-content;
        padding-bottom: 100px;
    }

    .promoContent .col p {
        max-width: 100%;
    }

    .main .hero p {

        max-width: 90%;
    }

    .main .hero h1 {
        font-size: 2.5em;
    }

    .main .hero h2 {
        font-size: 2.1em;
    }

    .main .hero p {
        font-size: 0.95em;
        width: 95%;
    }

    .homeSec1 {
        padding-inline: 35px;
    }

    .promo .promoImg {
        height: 74vw;
    }


    .userTestimonial {
        padding: 30px 35px;
    }
}
