.navContainer {
    display: flex;
    padding: 6px 100px;
    background-color: #fffbfb;
    justify-content: space-between;
    font-size: 0.9rem;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(84, 96, 95, 50%);
}

