.privacyWrap{
    padding: 100px 100px;
    color: black;
}

.privacyWrap h1{
    font-family: 'Poppins';
font-weight: 600;
color: #54605F;
margin-bottom: 10px;
/* green */


}

.privacyWrap h2{
    font-weight: 600;
    margin: 10px 0;
    color: #54605F;

}

.privacyWrap p{
    color: black;
}

@media screen and (max-width:1090px) {
    .privacyWrap{
        padding-inline: 60px;
    }
}

@media screen and (max-width:974px) {
    .privacyWrap{
        padding-inline: 30px;
    }
}