.header {
    padding: 0 100px;
    padding-top: 90px;
    background-color: white;
    display: grid;
    column-gap: 70px;
    grid-template-columns: 0.7fr 1.3fr;
    margin-bottom: 50px;
}

.header.sm {
    min-height: 70vh;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .details {
    display: flex;
    flex-direction: column;
}

.details .heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details .heading h1 {
    font-weight: 500;
    font-size: 1.6em;
}

.details .heading p {
    align-self: flex-end;
    text-decoration: underline;
    cursor: pointer;
}

.details .rating {
    display: flex;
    margin-top: 8px;
    align-items: center;
    display: none;
}

.details .rating img {
    padding-right: 10px;
    width: 39px;
}

.details .rating p {
    margin-left: 4px;
    cursor: pointer;
    color: #54605f;
    font-weight: 500;
    transform: translateY(3px);
    /* text-decoration: underline; */
}

.cost {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    color: #54605f;
    font-size: 1.1em;
}

.cost h1 {
    font-weight: 500;
    color: black;
    font-size: 1.5rem;
    padding-right: 15px;
}

.cost .slash {
    text-decoration: line-through;
    padding-right: 15px;
    font-size: 1em;
    font-weight: 400;
}

.details .desc {
    padding-top: 20px;
    font-size: 1em;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery .mainImg {
    background-image: url("../images/product-placeholder.png");
    background-size: contain;
    border-radius: 8px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-top: 100%;
}

.imgList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.smallImg {
    background-image: url("../images/product-placeholder.png");
    width: 100%;
    background-size: cover;
    transition: all 0.2s ease;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-top: 100%;
    border: 2.5px solid white;
    border-radius: 8px;
}

.smallImg.selected {
    border: 2.5px solid #54605f;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.qtyWrap {
    display: flex;
    margin-top: 10px;
}

.qtyWrap input {
    font-family: "Poppins";
    margin-right: 5px;
    width: 32px;
    font-size: 1em;
    padding: 1px;
    height: 32px;
    text-align: center;
    -moz-appearance: textfield;
}

.qtyWrap>* {
    border: 1px solid #000000;
    border-radius: 2px;
}

.qtyWrap .alter {
    background-color: #fff;
    width: 32px;
    display: flex;
    margin-right: 5px;
    font-weight: 100;
    cursor: pointer;
    font-size: 0.9em;
    padding: 2px;
    align-items: center;
    justify-content: center;
    height: 32px;
    text-align: center;
}

.discWrap {
    display: flex;
    align-items: center;
}

@media(max-width:1090px) {
    .header {
        padding-inline: 60px;
    }
}

@media(max-width:974px) {
    .header {
        padding-inline: 30px;
        grid-template-columns: 0.9fr 1.1fr;
        column-gap: 40px;
    }
}

@media(max-width:800px) {
    .header {
        grid-template-columns: 1fr;
        padding-top: 80px;
        padding-inline: 30px;
    }

    .gallery {
        margin-top: 25px;
        margin-bottom: 15px;
        flex-direction: row;
        gap: 18px;
    }

    .gallery .imgList {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 0;
        column-gap: 0;
        row-gap: 10px;
    }

    .gallery .mainImg {
        width: 80%;
        padding-top: 80%;
        flex: 0 0 80%;
    }

    .gallery .smallImg {
        height: 0;
        padding-top: 100%;
    }

    .details .heading h1 {
        font-size: 1.4em;
    }

    .cost h1 {
        font-size: 1.3em;
    }
}

@media(max-width:600px) {
    .gallery {
        flex-direction: column;
        gap: 0;
    }

    .gallery .mainImg {
        width: 100%;
        padding-top: 100%;
        flex: none;
    }

    .gallery .imgList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;
        column-gap: 2vw;
        display: grid;
    }
}


@media(max-width:531px) {
    .foot {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

}