.resetSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.resetSec h1 {
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.resetSec h2 {
    font-weight: 500;
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
}

.resetSec p {
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}

.resetSec form {
    width: 28em;
}

.resetSec input {
    border-radius: 4px;
    width: 100%;
    border: 1px solid #8D8D8D;
    padding: 14px 17px;
    font-family: 'Poppins';
    font-size: 1rem;
}

.passWrap {
    width: 100%;
    margin-top: 20px;
}

.passWrap {
    position: relative;
    width: 100%;
}

.passWrap i {
    position: absolute;
    top: 50%;
    padding: 15px;
    right: 0;
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(-50%);
}

.resetSec button {
    cursor: pointer;
    width: 100%;
    background-color: #54605F;
    max-width: 28em;
    color: white;
    border-radius: 4px;
    margin-top: 22px;
    font-family: 'Poppins';
    margin-bottom: 30px;
    font-size: 1rem;
    padding: 12px;
    transition: all 0.3s ease;
    border: 2px solid #54605F;
}

.resetSec button:hover {
    background-color: white;
    color: #54605F;
}

.resetSec form.disabled>* {
    opacity: 0.7;
    pointer-events: none;
}

.resetSec .error {
    color: rgb(212, 51, 51);
    font-weight: 500;
    transform: translateY(-15px);
}

@media screen and (max-width:974px) {

    .resetSec {
        padding-inline: 30px;
    }

}

@media screen and (max-width:520px) {
    .resetSec form {
        width: 100%;
    }

    .resetSec button {
        width: 100%;
    }


    .resetSec h2 {
        text-align: center;
    }

    .resetSec p {
        text-align: center;
    }
}

@media screen and (max-width:350px) {

    .resetSec h1 {
        font-size: 2.7rem;
        text-align: center;
    }

    .resetSec h2 {
        font-size: 1.05rem;
    }
}

@media screen and (max-width:305px) {
    main h1 {
        text-align: center;
    }

    .google span {
        display: none;
    }
}