.swiper{
    width: 85%;
    background-color: white;
}
.swiper-slide{
    width: 70%;
    padding: 65px 80px;
}

.swiper-wrap{
    background-color: white;
    padding: 50px;
}

.swiper-button-prev,.swiper-button-next{
    color: #54605F;
}

.swiper-pagination-bullet{
    background-color: white;
    border: 1px solid #54605F;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background-color: #54605F;
    border: none;
}

@media (max-width:1160px) {
    .swiper-wrap{
        padding: 50px 0;
    }

        .swiper-slide{
            padding: 65px 70px;
        }
}

@media (max-width:975px) {

    .swiper{
        width: 100%;
    }
    .swiper-slide{
        padding: 65px 40px;
    }
    .swiper-wrap{
        padding-top: 0;
    }
}

@media (max-width:576px) {

    .swiper{
        width: 100%;
    }
    .swiper-slide{
        padding: 65px 15px;
    }
}